<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCYvZ1RbXhd7mFgBnwGwMNNIXll7Rvzihs</string>
	<key>GCM_SENDER_ID</key>
	<string>405105868994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.videocallRtc.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>aenrtc</string>
	<key>STORAGE_BUCKET</key>
	<string>aenrtc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:405105868994:ios:3acc981d75fba5f904fb5b</string>
</dict>
</plist>